.newTrackParent {
  display: flex;
  justify-content: center;
}
#newTrackDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  margin: 0.5em;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.034), 0 0 20px rgba(0, 0, 0, 0.048),
    0 0 0 rgba(0, 0, 0, 0.06), 0 0 0, 0 20px 20px rgba(0, 0, 0, 0.086),
    0 0 0 rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 50px;
  min-width: 350px;
}
