.trackContainer {
    margin: 15px 0px;
    box-shadow: 0px 0px 8px 2px lightgray;
    border-radius: 15px;
    overflow: hidden;
}

.trackTop {
    border-bottom: 2px solid gray;
    display: flex;
}

.trackWaveContainer {
    background-color: lightgray;
    padding: 0;
    flex: 4;
    display: flex;
}

.trackWaveform {
    position: relative;
    flex: 1;
}

.trackWaveButtonContainer {
    border-left: 2px solid gray;
    background-color: white;
    margin-left: auto; /* so it goes all the way to the right side when there is no waveform */
    z-index: 1; /* added z-index because the <RenderedWaveform> container overlaps otherwise */
}

.trackWaveButton {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    font-size: large;
    background-color: lightgray;
    margin: 10px 5px 0px 5px;
}

.trackWaveButton:last-of-type {
    margin-bottom: 10px;
}

.trackInfo {
    padding: 20px;
    border-right: 2px solid gray;
    flex: 1;
    min-width: 150px;
    text-align: center;
}

.trackInfo h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.trackControls {
    display: flex;
    align-items: center;
    padding: 10px;
}


/* temporary style so it looks a bit nicer */
.trackControlButton {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid gray;
    margin-right: 5px;
    border-radius: 5px;
}


/* Volume Slider */
.volumeSliderContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
    font-size: x-large;
    max-width: 400px;
    margin-left: auto;
}

.volumeSliderContainer svg {
    pointer-events: all;
    cursor: pointer;
}

.volumeSliderContainer svg:focus {
    outline: 1px dashed gray;
}

.volumeSlider {
    flex: 1;
    -webkit-appearance: none;
    border-radius: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    height: 14px;
}
  
.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
}
  
.volumeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
}