.trackContainer {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.infoColumn {
  flex: 1;
  border-right: 1px solid black;
  background-color: white;
  word-break: break-word;
  overflow-wrap: anywhere;
  text-align: center;
}

.audioColumn {
  flex: 4;
  background-color: rgb(228, 228, 228);
}

.break {
  flex-basis: 100%;
}
.controls {
  border-top: 1px solid black;
  flex: 4;
  flex-direction: row;
}

.infoSmall {
  flex: 1;
  border-top: 1px solid black;
}

.recBtn {
  border: 2px solid red;
  background: white;
  color: red;
  cursor: pointer;
  font-family: "Trispace", sans-serif;
  padding: 0.5em;
  margin: 1em;
  border-radius: 5px;
}
.uploadBtn {
  border: 2px solid green;
  background: white;
  color: green;
  cursor: pointer;
  font-family: "Trispace", sans-serif;
  padding: 0.5em;
  margin: 1em;
  border-radius: 5px;
}
