.centerTrack {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.trackContainer {
  display: flex;
  margin-top: 20px;
  border-radius: 15px;
  width: 95%;
  flex-wrap: wrap;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.034), 0 0 0 rgba(0, 0, 0, 0.048),
    0 0 20px rgba(0, 0, 0, 0.06), 0 0 0, 0 0 20px rgba(0, 0, 0, 0.086),
    0 0 0 rgba(0, 0, 0, 0.12);
}

.trackContainer + .trackContainer {
  margin-top: 20px;
}

.trackContainer:last-of-type {
  margin-bottom: 20px;
}

.infoColumn {
  border-top-left-radius: 15px;
  padding: 15px 0;
  flex: 1;
  border-right: 1px solid black;
  background-color: white;
  word-break: break-word;
  overflow-wrap: anywhere;
  text-align: center;
}

.audioColumn {
  border-top-right-radius: 15px;
  flex: 4;
  background-color: rgb(228, 228, 228);
}

.break {
  flex-basis: 100%;
}
.controls {
  border-top: 1px solid black;
  flex: 4;
  flex-direction: row;
  padding-bottom: 15px;
}

.infoSmall {
  flex: 1;
  border-top: 1px solid black;
}

.dropdownParent {
  display: flex;
  justify-content: flex-end;
}

.dropdownDiv {
  position: absolute;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.034), 0 0 20px rgba(0, 0, 0, 0.048),
    0 0 0 rgba(0, 0, 0, 0.06), 0 0 0, 0 20px 20px rgba(0, 0, 0, 0.086),
    0 0 0 rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .dropdownDiv {
    margin-left: 100px;
  }
}
