.scrubberTimeContainer {
  display: flex;
  justify-content: space-between;
}

.audioScrubber {
  flex: 1;
  -webkit-appearance: none;
  border-radius: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  height: 14px;
}
.audioScrubber::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 30px;
  border-radius: 15px;
  background: gray;
  cursor: pointer;
}

.audioScrubber::-moz-range-thumb {
  width: 20px;
  height: 30px;
  border-radius: 15px;
  background: gray;
  cursor: pointer;
}