.demoPage {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}

#demoTitleHeading {
  padding: 20px 0;
  text-align: center;
}

.demoControlButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.demoControlButtonsContainer * {
  margin: 0px 5px;
}