@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trispace", sans-serif;
}

/* General */
.page {
  padding: 1rem;
}

#container {
  display: flex;
  margin: 0 auto;
  width: 50%;
  flex-direction: column;
}

.centerInDiv {
  display: flex;
  justify-content: center;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  #container {
    width: 100%;
  }
}
