.trackContainer {
    margin: 15px ;
    box-shadow: 0px 0px 8px 2px lightgray;
    border-radius: 15px;
    overflow: hidden;
}

.trackTop {
    border-bottom: 2px solid gray;
    display: flex;
}

.trackWave {
    background-color: lightgray;
    padding: 20px;
    flex: 1;
    position: relative;
}

.trackInfo {
    padding: 20px;
    border-right: 2px solid gray;
    max-width: 150px;
    text-align: center;
}

.trackControls {
    display: flex;
    align-items: center;
    padding: 10px;
}

.deleteTrackButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: large;
}

/* Volume Slider */
.volumeSliderContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
    font-size: x-large;
    max-width: 400px;
}

.volumeSliderContainer svg {
    pointer-events: all;
    cursor: pointer;
}

.volumeSliderContainer svg:focus {
    outline: 1px dashed gray;
}

.volumeSlider {
    flex: 1;
    -webkit-appearance: none;
    border-radius: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    height: 14px;
}
  
.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
}
  
.volumeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
}