#homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 150px 0;
  color: white;
  background: linear-gradient(45deg, #00fdff, #ff45d7, #ffe245);
  background-size: 600% 600%;
  -webkit-animation: AnimatedGradient 17s ease infinite;
  -moz-animation: AnimatedGradient 17s ease infinite;
  animation: AnimatedGradient 17s ease infinite;
}

#homeHeader h3 {
  padding-top: 1rem;
  font-weight: 400;
}

#homeBody {
  padding: 20px;
  margin: auto;
  max-width: 900px;
}

#homeBody h2 {
  margin-bottom: 5px;
}

/* gives the bottom p tag of every home message a 20px margin bottom, except the last one */
#homeBody div:not(:last-child) p {
  margin-bottom: 20px;
}

/* Keyframes for gradient */
@-webkit-keyframes AnimatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
