.demo {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 10px 0px;
  padding: 30px;
  box-shadow: 0px 0px 8px 2px lightgray;
  border-radius: 15px;
}

.demoText {
  padding-top: 10px;
}