#myDemosContainer {
  display: flex;
  margin: 0 auto;
  width: 50%;
  flex-direction: column;
}

#newDemo {
  margin: 0 auto;
}

#loading {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  #myDemosContainer {
    width: 100%;
  }
}
