.followContainer {
    margin: 0 auto;
    max-width: 500px;
}

.followHeader {
    padding: 10px;
}

.follow {
    padding: 10px;
    cursor: pointer;
    border: 1px solid lightgray;
    border-bottom: none;
}

.follow:last-of-type {
    border-bottom: 1px solid lightgray;
}

.follow:hover {
    box-shadow: 0px 0px 8px 2px lightgray;
}