.popupBackground {
    position: fixed;
    /* full page height minus 50px for the topbar */
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    /* so the topbar is not covered by the background */
    top: 50px;
    left: 0px;
    z-index: 100;
}

.popupContainer {
    position: relative;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    top: 170px;
    margin: 0px auto;
    max-width: 600px;
}

.popupHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.popupExitButton {
    font-size: larger;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: black;
}

.popupExitButton:hover {
    background-color: rgb(236, 236, 236);
}