.btnComp,
.bigBtn,
.smallBtn,
.redBtn,
.greenBtn {
  border: 2px solid black;
  background: white;
  color: black;
  cursor: pointer;
  font-family: "Trispace", sans-serif;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigBtn {
  padding: 20px;
  margin: 13px;
}

.smallBtn {
  padding: 0.75em;
  margin-bottom: 0.5em;
  border-radius: 5px;
}

.redBtn {
  border: 2px solid red;
  color: red;
}

.greenBtn {
  border: 2px solid green;
  color: green;
}

@media screen and (max-width: 550px) {
  .btnComp,
  .redBtn,
  .greenBtn {
    font-size: 1em;
  }
  .bigBtn {
    font-size: 1.4em;
  }
}
