/* Header */
#headerContainer {
  background-color: black;
  width: 100%;
  height: 50px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 50%;
  margin: 0 auto;
}

#header .title {
  margin: 0;
  padding: 0 1rem;
}

#header .authOptions {
  display: flex;
  height: 100%;
}

#header .authOptions button {
  padding: 0 1rem;
  color: white;
  font-size: 1.2rem;
  background-color: black;
  border: none;
  cursor: pointer;
}

#header .authOptions button:hover {
  background-color: rgb(26, 26, 26);
  color: white;
}

@media screen and (max-width: 550px) {
  #header {
    width: 100%;
  }
  #header .title {
    font-size: 0.6rem;
  }
  #header .authOptions button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  #header {
    width: 100%;
  }
}
