/* Header */
#headerContainer {
  background-color: black;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 99999999;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 0px auto;
  max-width: 900px;
}


.headerButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  background-color: transparent;
  height: 50px;
  padding: 0px 10px;
  font-size: 1.2rem;
}

.headerButton:hover {
  background-color: rgb(26, 26, 26);
}

#header img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}