.underlinedTextInput {
  padding: 10px 0 10px 0;
  margin-bottom: 1.5rem;
  display: flex;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.75rem;
  background-color: white;
  border: none;
  border-bottom: 3px solid black;
  border-radius: 0px;
  outline: none;
}
